/*-----------------------------------------------------------------------------------------------------------\
|  _____     _   _____ _             _ _          _____  _____  _____  __      _______  _____  _____  _____  |
| |_   _|   (_) /  ___| |           | (_)        / __  \|  _  |/ __  \/  |    / / __  \|  _  |/ __  \|____ | |
|   | | __ _ _  \ `--.| |_ _   _  __| |_  ___    `' / /'| |/' |`' / /'`| |   / /`' / /'| |/' |`' / /'    / / |
|   | |/ _` | |  `--. \ __| | | |/ _` | |/ _ \     / /  |  /| |  / /   | |  / /   / /  |  /| |  / /      \ \ |
|   | | (_| | | /\__/ / |_| |_| | (_| | | (_) |  ./ /___\ |_/ /./ /____| |_/ /  ./ /___\ |_/ /./ /___.___/ / |
|   \_/\__,_|_| \____/ \__|\__,_|\__,_|_|\___/   \_____/ \___/ \_____/\___/_/   \_____/ \___/ \_____/\____/  |
\-----------------------------------------------------------------------------------------------------------*/

html, body {
    height: 100%;
}

body{
    --pri: #566270;
    --sec: #FFFFF3;
    --tri: #E0E3DA;
    --qua: #A593E0;
    --sz: 50px;
    background: var(--pri);
    color: var(--qua);
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    margin: 0;
}
body .hide{
    display: none!important;
}
::-webkit-scrollbar{
    width: 0.5em;
}
::-webkit-scrollbar-thumb{
    background: var(--qua);
}
body .error{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #fc5c65;
}
body .error img{
    position: absolute;
    top: calc(50% / 2);
    right: 1%;
    height: 50%;
    cursor: pointer;
}
body .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
body .content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 30%;
    min-width: 400px;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s;
    background: var(--sec);
    box-shadow: #000 0px 0px 50px;
    display: flex;
    flex-direction: column;
}
body .content.active{
    opacity: 1;
    transform: translate(-50%, 0%);
}
body .content.fix{
    transform: translate(-50%, 0%)!important;
}
body .content .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--tri);
}
body .content .top .logo{
    position: relative;
    width: 30%;
    flex-basis: 30%;
    clip-path: circle();
    background: var(--sec);
}
body .content .top .logo img{
    width: 100%;
    height: 100%;
    clip-path: circle();
}
body .content .bottom{
    transform: translate(0, 0%);
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
body .content .bottom .link{
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 25px;
    background: var(--sec);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s;
    transform: translate(100%);
}
body .content .bottom .link .live{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 10%);
    width: 20%;
    height: 30%;
    clip-path: circle();
    animation: clin 1.5s infinite;
    background: #ff4e50;
}
body .content .bottom .link .left{
    height: 100%;
    min-width: 80px;
    flex-shrink: 0;
}
body .content .bottom .link .center{
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    z-index: 2;
    padding: 5px 80px 5px 5px;
    flex-grow: 1;
    flex-shrink: 1;
}
body .content .bottom .link.active{
    transform: translate(0%);
}
body .content .bottom .link:hover{
    background: var(--qua);
    color: var(--tri);
}
body .content .bottom .link .arrow{
    position: absolute;
    z-index: 3;
    top: 0;
    right: -80px;
    bottom: 0;
    width: 80px;
    transition: right 0.5s;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .content .bottom .link:hover .arrow{
    right: 0px;
}
body .content .bottom .link .arrow img{
    height: 25px;
    width: 25px;
}
body .content .bottom .link .logo{
    position: relative;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .content .bottom .link .logo img{
    height: var(--sz);
    width: auto;
}
body .power{
    position: absolute;
    right: 0;
    bottom: 0;
}
body .power a{
    text-decoration: none;
    color: var(--qua);
}

@keyframes clin{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width: 1000px) {
    body {
        --sz: 32px;
    }
    body .content{
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        min-width: unset;
        transform: translate(0%, 100%);
    }
    body .content.active{
        transform: translate(0);
    }
    body .power{
        position: absolute;
        top: 0;
        left: 0;
        right: inherit;
        bottom: inherit;
    }
    
    body .content.fix{
        transform: translate(0%, 0%)!important;
    }
}

@media (max-width: 480px) {
    body .content .bottom .link .left{
        min-width: 40px;
    }
    body .content .bottom .link .center{
        padding: 5px 40px 5px 5px;
    }
    body .content .bottom .link .arrow{
        right: -40px;
        width: 40px;
    }
}