/*--------------------------------------------------------------------------------------\
|  _______    _    _____ _             _ _           ________     ___   ___ ___  __     |
| |__   __|  (_)  / ____| |           | (_)         /  ____  \   |__ \ / _ \__ \/_ |    |
|    | | __ _ _  | (___ | |_ _   _  __| |_  ___    /  / ___|  \     ) | | | | ) || |    |
|    | |/ _` | |  \___ \| __| | | |/ _` | |/ _ \  |  | |       |   / /| | | |/ / | |    |
|    | | (_| | |  ____) | |_| |_| | (_| | | (_) | |  | |___    |  / /_| |_| / /_ | |    |
|    |_|\__,_|_| |_____/ \__|\__,_|\__,_|_|\___/   \  \____|  /  |____|\___/____||_|    |
|                                                   \________/                          |
\--------------------------------------------------------------------------------------*/

body{
    --pri: #566270;
    --sec: #FFFFF3;
    --tri: #E0E3DA;
    --qua: #A593E0;
}
body.orange{
    --pri: #a5b1c2;
    --sec: #fa8231;
    --tri: #fd9644;
    --qua: #d1d8e0;
}
body.green{
    --pri: #285943;
    --sec: #77AF9C;
    --tri: #8CD790;
    --qua: #D7FFF1;
}
body.purple{
    --pri: #574b90;
    --sec: #596275;
    --tri: #303952;
    --qua: #786fa6;
}
body.dark{
    --pri: #404146;
    --sec: #54546c;
    --tri: #8283a7;
    --qua: #a5d296;
}
body.blue{
    --pri: #1B2940;
    --sec: #365280;
    --tri: #527DC2;
    --qua: #6093E6;
}