/*--------------------------------------------------------------------------------------\
|  _______    _    _____ _             _ _           ________     ___   ___ ___  __     |
| |__   __|  (_)  / ____| |           | (_)         /  ____  \   |__ \ / _ \__ \/_ |    |
|    | | __ _ _  | (___ | |_ _   _  __| |_  ___    /  / ___|  \     ) | | | | ) || |    |
|    | |/ _` | |  \___ \| __| | | |/ _` | |/ _ \  |  | |       |   / /| | | |/ / | |    |
|    | | (_| | |  ____) | |_| |_| | (_| | | (_) | |  | |___    |  / /_| |_| / /_ | |    |
|    |_|\__,_|_| |_____/ \__|\__,_|\__,_|_|\___/   \  \____|  /  |____|\___/____||_|    |
|                                                   \________/                          |
\--------------------------------------------------------------------------------------*/

body{
    --pri: #566270;
    --sec: #FFFFF3;
    --tri: #E0E3DA;
    --qua: #A593E0;
}
body.orange{
    --pri: #000000;
    --sec: #CE6D39;
    --tri: #F17F42;
    --qua: #FFEEE4;
}
body.green{
    --pri: #285943;
    --sec: #77AF9C;
    --tri: #8CD790;
    --qua: #D7FFF1;
}
body.purple{
    --pri: #011638;
    --sec: #2E294E;
    --tri: #9055A2;
    --qua: #D499B9;
}
body.orange2{
    --pri: #6f2108;
    --sec: #e3632d;
    --tri: #e77e4d;
    --qua: #fffcf0;
}