name: "Create Page"

on: 
  issues:
    types: [labeled]

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Create Page
        run: |
          npm install
          npm run creator -- --body="${{ github.event.issue.body }}"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "Lyna[bot]"
          git add .
          git commit -m "➕ Create New Page" -a
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          branch: "pageCreator/${{ github.event.issue.number }}"
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.GH_TOKEN }}
          commit-message: ➕ Create New Page
          committer: Lyna <tai.studio@outlook.fr>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: "pageCreator/${{ github.event.issue.number }}"
          delete-branch: false
          title: '[LYNA] ${{ github.event.issue.title }}'
          body: |
            Hello and thank you for your contribution!
            A moderator will check the links on your page within the next 48 hours.
            © [Tai Studio](https://tai-studio.netlify.app/) 2021/2022
          labels: |
            Request Page
          assignees: LeGitHubDeTai
          reviewers: LeGitHubDeTai
          draft: false
  add-comment:
      if: github.event.label.name == 'Request Page'
      runs-on: ubuntu-latest
      permissions:
        issues: write
      steps:
        - name: Add comment
          uses: peter-evans/create-or-update-comment@c9fcb64660bc90ec1cc535646af190c992007c32
          with:
            issue-number: ${{ github.event.issue.number }}
            body: |
              Hello and thank you for your contribution! A moderator will check the links on your page within the next 48 hours. © [Tai Studio](https://tai-studio.netlify.app/) 2021/2022